/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main-wrapper {
  max-width: 1300px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 7px;
  background-color: rgb(168, 170, 170);
}

.sidebar-child {
  /* background-color: rgb(211, 233, 233); */
  /* grid-row: span 9 / span 9; */
}

.navbar-child {
  /* background-color: bisque; */
  /* grid-column: span 5 / span 5;
  grid-row: span 3 / span 3; */
}
